.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  line-height: 24px;
}

.link {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.icon {
  stroke: var(--inverted-bg-color);
}

.collapsed {
  .link {
    display: none;
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}