.Wrapper {
  display: flex;
}

.select {
  border-radius: 12px;
  min-height: 30px;
  line-height: 26px;
  padding: 4px 10px;
  font-size: var(--font-size-m);
  border:  1px solid var(--additional-secondary-color);
  color: var(--primary-color);
  background: var(--secondary-color);

  &:focus {
    outline: 1px solid var(--primary-color);
  }
}