.app_dark_theme {
  --bg-color: #1d2125;
  --inverted-bg-color: #fff;
  --primary-color: #fff;
  --secondary-color: #2b2d30;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #626f86;
  --additional-secondary-color: #414141;
}