.app_dark_theme {
  --bg-color: #09090b;
  --inverted-bg-color: #fafafa;
  --primary-color: #fafafa;
  --secondary-color: #27272a;
  --secondary-text-color: #e1e1e1d8;
  --inverted-primary-color: #09090b;
  --inverted-secondary-color: #626f86;
  --additional-secondary-color: #27272a;
}