.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #1d2125;

  --primary-color: #000000;
  --secondary-color: #626f86;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #b6c2cf;
}