:root {
    --bg-color: #fff;
    --inverted-bg-color: #1d2125;
    --primary-color: #000;
    --secondary-color: #626f86;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b6c2cf;
}