.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--secondary-color);
  display: flex;
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;

  a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}