.ProfileCard {
  border: 1px solid var(--secondary-color);
  padding: 20px;
  border-radius: 10px;

  .input {
    margin-bottom: 10px
  }

  .avatarWrapper {
    display: flex;
    justify-content: center;
  }
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}